APP_ENV=development
AI_MODE=mock
API_V1_STR=/api/v1
PROJECT_NAME="KalaConnect-AI Backend"

# Database
DATABASE_URL=sqlite:///./sql_app.db

# AI API Keys
LLM_API_KEY=
VISION_API_KEY=
SPEECH_API_KEY=

# CORS
BACKEND_CORS_ORIGINS=["http://localhost", "http://localhost:8080", "http://localhost:3000"]
